<tr>
<td>
<div class="col-xs-4">
<img src="<%= card.thumbnail_front_url %>" class="img-thumbnail img-responsive listthumb">
</div>

<div class="col-xs-4">
<img src="<%= card.thumbnail_back_url %>" class="img-thumbnail img-responsive listthumb">
</div>

<div class="col-xs-4">
  
<div class="row">
  
<h5>Sent by @<%= card.insta_fromusername %></h5>
<h5>Post by @<%= card.insta_postusername %> on <%= card.insta_date.strftime("%B %-d, %Y") %></h5>
  
<div class="col-xs-6">
<strong>From:</strong><br>
<%= card.from_name %><br>
<%= card.from_address_one %><br>
<% unless card.from_address_two.nil? or card.from_address_two == '' %>
<%= card.from_address_two %><br>
<% end %>
<%= card.from_city %>, <%= card.from_state %> <%= card.from_zip %><br>
</div>

<div class="col-xs-6">
<strong>To:</strong><br>
<%= card.to_name %><br>
<%= card.to_address_one %><br>
<% unless card.to_address_two.nil? or card.to_address_two == '' %>
<%= card.to_address_two %><br>
<% end %>
<%= card.to_city %>, <%= card.to_state %> <%= card.to_zip %><br>
</div>

</div>

<% unless card.postcard_message.nil? or card.postcard_message == '' %>
<h6><strong>Message:</strong> <%= card.postcard_message %></h6>
<% end %>

<div class="row">
<small>
<strong>GramSend created:</strong> <%= card.created_at.strftime("%B %-d, %Y") %><br>
<strong>Error code:</strong> <%= card.error %>
</small>
</div>

</div>

</td>
</tr>